.navbar ul{

	list-style-type: none;
	background-color: gray;
	overflow: hidden;
}

.navbar a{

	color: white;
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 15px;

}

.navbar li {

	float: left;
}

.navbar a:hover{
    background-color: hsl(0, 0%, 10%);

}

body {
	
	background-color: midnightblue;
	padding: 15px;
}

footer{
	background-color: white;
	padding: 15px;
}

header{

	background-color: white;
	padding: 15px;
}
h1 {
	color: gray;
	font-family: Cursive;

}

.box{

	background-color: white;
	border: solid 12px white; padding 12px;
	display: flex;
	align-items: center;
	gap: 20px;
}


.BioInfo ul{


	list-style-type: none;
}
