body, html {

	margin: 0;
	padding: 0;

}


.navbar ul {
    list-style-type: none;
    background-color: midnightblue;
    overflow: hidden;
    display: flex;   /* display links in a row */
    position: absolute;
    bottom: 0px;
    left: 0px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.navbar a{

	color: white;
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 5px;

}

.navbar li {

	flex: 1;
	/*float: left;*/
}

.navbar a:hover{
    background-color: hsl(0, 0%, 10%);

}

body {
	
	background-color: white;
	padding: 0px;
	margin: 0px;
}

.site-footer {
	background-color: midnightblue;
	padding: 15px;
	color: white;
	width: 100%;
}

/*header{

	background-color: white;
	padding: 15px;
}*/
h1 {
	color: midnightblue;
	font-family: Cursive;

}

.box {

	background-color: white;
	border: solid 12px white; 
	padding 12px;
	display: flex;
	align-items: center;
	gap: 20px;
}


.BioInfo ul{


	list-style-type: none;
}

.doc-container {
  position: relative;
  width: 100%;
  padding-bottom: 150%; /* Adjust for doc height */
  height: 0;
  overflow: hidden;
}

.doc-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.site-header {
  background-image: url('../assests/images/footballfield.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
  color: white;
  margin: 0;
  padding: 0;
  position: relative;
}
