body, html {

	margin: 0;
	padding: 0;

}
.titleName img{

  height: 100px;
  width: 1000px;

}

/**.googleDocCoach {
    margin: 0 auto;
       
}
**/

/**.googleDocCoach iframe {
    width: 100%;
    height: 100%;
    max-height: 4500px;
    max-width: 1000px;
  border: none;
    display: block;
}**/
.calendarPage iframe {
    width: 100%;
    max-width: 1000px;
    height: 700px;
    border: 0;
    display: block;
    margin: 0 auto;
}

.image h1 {
    text-align: left;
}


.titlePage img{

  height: 100%;
  width: 100%;
  max-width: 1000px;
  max-height: 150px;
}
.image img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 1000px;
}

.navbar ul {
    list-style-type: none;
    background-color: #17254C;
    overflow: hidden;
    display: flex;   
    position: absolute;
    bottom: 0px;
    left: 0px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.navbar a{

	color: white;
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 5px;

}

.navbar li {

	flex: 1;
	/*float: left;*/
}

.navbar a:hover{
    background-color: hsl(0, 0%, 10%);

}

body {
	
	background-color: white;
	padding: 0px;
	margin: 0px;
}

.site-footer {
	background-color: #17254C;
	padding: 15px;
	color: white;
	width: 100%;
}

/*header{

	background-color: white;
	padding: 15px;
}*/

.box {

	background-color: white;
	border: solid 12px white; 
	padding 12px;
	display: flex;
	align-items: center;
	gap: 20px;
}


.BioInfo ul{


	list-style-type: none;
}

.doc-container {
  position: relative;
  width: 100%;
  padding-bottom: 150%; 
  height: 0;
  overflow: hidden;
}

.doc-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.site-header {
  background-image: url('../assests/images/footballfield.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  color: white;
  margin: 0;
  padding: 0;
  position: relative;
}
